@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,label,form,p,header,nav,footer,aside,section{display:block;}
ul{list-style:none;}
.clearfix:after{display:block; height:0px; content:'.'; visibility:hidden; clear:both;}
a{text-decoration:none; outline:none;}

